# prwd config file example

# Maximum size of the returned working directory
set maxlength 24
set filler "…"
set cleancut on

# Shorten the path newsgroup style (first letters)
#set newsgroup on

# Show mercurial branch
#set mercurial on

# Aliases
alias *lt /home/tamentis/livetech
alias *svn /home/tamentis/dev/trunk
