# prwd config file example (~/.prwdrc)

# Shell prompt template
template "${date} ${hostname}:${branch}:${path -l 24}${uid} "

# Aliases
alias $prwd /home/tamentis/projects/prwd
alias $www /var/www/htdocs
